<%- include('partials/head') %>
<%- include('partials/topbar') %>
<div class="layout">
  <%- include('partials/sidebar') %>
  <main class="content">
    <article class="doc">
      <h1 class="doc-title">Something went wrong</h1>
      <p class="doc-lead">We couldn't find what you were looking for. Try checking the URL to ensure it's correct. Otherwise, the page just might not exist. You can report this error by <a href="https://discord.com/channels/1345804368263385170/1345816347657113702" target="_blank" rel="noopener">opening a ticket</a>.</p>
      <p><a class="btn btn-primary" href="/home">Back to Home</a></p>
    </article>
  </main>
</div>
<%- include('partials/foot') %>
